
.result {
  position: relative;
  border-radius: 6px;
  width: 500px;
  height: 40px;
  margin-bottom: 40px;
  font-size: 24px;
  border: 2px solid rgb(168, 13, 161)
  
}

.container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}
.button {
  font-size: 30px;
}
button {
  
  height: 60px;
  width: 200px;
  border-radius: 5px;
  background: rgb(18, 245, 215)
  
  
}

.qrCode {
  margin-bottom: 40px;

  
}